<nav class="container d-flex">

  <ol class="breadcrumb">
    @for (item of (breadcrumbs$ | async); track item; let i = $index) {
      @if (item.name) {
        @if (item.url) {
          <li class="breadcrumb-item">
            <a routerLink="{{item.url}}">{{item.name}}</a>
          </li>
        }
        @else {
          <li class="breadcrumb-item">{{item.name}}</li>
        }
      }
    }
  </ol>

</nav>
