.table-hrow {
  height: 40px;
  border-bottom: 1px solid gray;
}
.table-drow {
  height: 40px;
  background-color: #fbfbfb;
  border-bottom: 1px solid gray;
}

.table-td {
  padding: 8px;
}
