<section>

  <mat-card class="col-4 p-2">
    <mat-card-title>Тикет #{{ticket?.id}}</mat-card-title>
    <mat-card-subtitle>{{ticket?.cDate | date : 'dd-MM-YYYY HH:mm'}}</mat-card-subtitle>
    <mat-card-content>
      <div style="white-space: pre;">{{ticket?.name}}</div>
    </mat-card-content>
  </mat-card>

</section>
