<header class="container">

  <nav class="navbar navbar-expand-lg bg-body-tertiary nav-height">
    <div class="container-fluid">
      <!--
        Если ни одна из страниц: "Данные не найдены" и "Страница не найдена".
      -->
      @if (isVisible) {
        <!--
          Наименование страницы.
        -->
        <span class="navbar-brand">{{pageInfo?.name}}</span>

        <!--
          Ссылка на профиль и кнопка деавторизации.
        -->
        <div class="d-flex align-items-center">
          @if ((user?.id ?? 0) > 0 && pageInfo?.segment != segmentEnum.Profile) {
            <span class="me-2">
              <a routerLink='/{{segmentEnum.Profile}}/{{user!.id}}'>{{segmentNameEnum.Profile}} - {{user!.name ?? 'Аноним'}}</a>
            </span>
          }

          <button class="btn btn-outline-success" (click)="doLogout()">Выход</button>
        </div>
      }
      @else {
        <!--
          Если одна из страниц: "Страница не найдена" и "Данные не найдены".
        -->
        <span class="mx-1"><a routerLink='/'>{{segmentNameEnum.Main}}</a></span>
      }

    </div>
  </nav>

</header>
