<section class="col-4">

  <mat-card class="w-100 p-2">
    @if (user === null) {
      <mat-card-subtitle>Пользователь не выбран</mat-card-subtitle>
    }
    @else {
      <mat-card-subtitle>Пользователь</mat-card-subtitle>

      <form class="w-100" [formGroup]="userDataForm">

        <mat-form-field class="w-100">
          <mat-label>Username (email)</mat-label>
          <input type="email" matInput formControlName="email" placeholder="example@mail.ru">
          <mat-hint>{{(isEditMode ? 'Введите email.' : '')}}</mat-hint>

          @if (isEditMode && userDataForm.get('email')?.hasError('email') && !userDataForm.get('email')?.hasError('required')) {
            <mat-error>Неверный email.</mat-error>
          }

          @if (isEditMode && userDataForm.get('email')?.hasError('required')) {
            <mat-error><strong>Необходимо</strong> указать email.</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-100 mt-1">
          <mat-label>Имя</mat-label>
          <input type="text" matInput formControlName="name">
          <mat-hint>{{(isEditMode ? 'Введите имя.' : '')}}</mat-hint>

          @if (isEditMode && userDataForm.get('name')?.hasError('required')) {
            <mat-error><strong>Необходимо</strong> указать имя.</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-100 mt-1">
          <mat-label>Фамилия</mat-label>
          <input type="text" matInput formControlName="lastname">
          <mat-hint>{{(isEditMode ? 'Введите фамилию.' : '')}}</mat-hint>
        </mat-form-field>

        <mat-form-field class="w-100 mt-1">
          <mat-label>Дата рождения</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName="bDate" (dateChange)="user!.bDate = $event.value?.valueOf()">
          <mat-hint>{{(isEditMode ? 'Введите дату рождения.' : '')}}</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker [disabled]="!isEditMode">
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Отмена</button>
              <button mat-raised-button color="primary" matDatepickerApply>OK</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w-100 mt-1">
          <mat-label>Город</mat-label>
          <mat-select [(value)]="user!.cityId" [disabled]="!isEditMode">
            @for (item of cities; track item) {
              <mat-option [value]="item.id">{{item.name}}</mat-option>
            }
          </mat-select>
          <mat-hint>{{(isEditMode ? 'Укажите город.' : '')}}</mat-hint>
        </mat-form-field>

        @if (isEditMode) {
          <mat-form-field class="w-100 mt-1">
            <mat-label>Новый пароль</mat-label>
            <input #passwordInput [type]="isVisible ? 'text' : 'password'" matInput formControlName="password">
            <mat-hint>Введите пароль.</mat-hint>

            @if (userDataForm.get('password')?.hasError('minlength')) {
              <mat-error>Пароль <strong>минимум</strong> 4 символа.</mat-error>
            }

            @if (userDataForm.get('password')?.hasError('required')) {
              <mat-error><strong>Необходимо</strong> указать пароль.</mat-error>
            }

            <button type="button" matSuffix mat-icon-button (click)="this.isVisible = !this.isVisible">
              <mat-icon>{{(isVisible ? 'disabled_visible' : 'visibility')}}</mat-icon>
            </button>
          </mat-form-field>

        }
      </form>

      <mat-card-actions align="end">
        @if (!isEditMode) {
          <button type="button" mat-button (click)="changeMode(true)">Изменить</button>
        }
        @else {
          <button type="button" mat-button (click)="changeMode(false)">Отменить</button>
          <button type="button" mat-button (click)="saveData()" [disabled]="(!userDataForm.valid)">Сохранить</button>
        }
      </mat-card-actions>
    }

  </mat-card>

</section>
