.row-prop {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  min-height: 40px;
  padding: 0 8px;
  background-color: #efefec;

  &:hover {
    background-color: #b3c5d7;
  }
}

.row-odd {
  background-color: #d5e7da;
}

.row-selected {
  background-color: #e3e98b;
}

.tickets-place {
  height: 200px;
  overflow: auto;
}
