<section class="d-flex flex-wrap row g-0">

  <!--Списки-->
  <div class="col-sm-12 col-md-8">

    <!--Список пользователей-->
    <mat-card class="w-100 p-2">
      <mat-card-subtitle>Пользователи</mat-card-subtitle>

      <div class="tickets-place">

        @for (item of (users$ | async); track item; let isOdd = $odd) {
          @if (item.id && item.id !== 1) {
            <div class="d-flex row g-0 row-prop w-100 align-items-center"
              [ngClass]="{'row-odd': isOdd, 'row-selected': user?.id === item.id}"
              (click)="selectUser(item.id)">

              <div class="d-flex w-100 justify-content-start">{{item.name}}</div>

            </div>
          }
        }

      </div>

      <mat-card-actions align="end">
        <button type="button" mat-button (click)="delUser()" [disabled]="!(!isEditMode && (user?.id ?? 0) > 0)">Удалить</button>
        <button type="button" mat-button (click)="addUser()" [disabled]="(isEditMode)">Добавить</button>
      </mat-card-actions>

    </mat-card>

    <div class="d-flex row g-0 w-100 mt-1">

      <!--Список доступных тикетов-->
      <mat-card class="col-sm-12 col-md-6 p-2">
        <mat-card-subtitle>Тикеты</mat-card-subtitle>

        <div class="tickets-place">

          @for (item of (availableTickets$(user?.tickets ?? []) | async); track item; let i = $index, isOdd = $odd) {
            <div class="d-flex row g-0 row-prop w-100 align-items-center"
              [ngClass]="{'row-odd': isOdd, 'row-selected': isEditMode && selectedAvailTicketId == item}"
              (click)="selectAvailTicket(item)">

              <div class="d-flex col-1 justify-content-center">{{i + 1}}.</div>
              <div class="d-flex col-11 justify-content-start" style="white-space: pre;">{{(ticketById$(item) | async)?.name}}</div>

            </div>
          }

        </div>

        <mat-card-actions align="end">
          <button type="button" mat-button (click)="addTicketToUser()" [disabled]="!(isEditMode && selectedAvailTicketId)">Добавить &gt;&gt;</button>
        </mat-card-actions>

      </mat-card>

      <!--Список тикетов пользователя-->
      <mat-card class="col-sm-12 col-md-6 p-2">
        <mat-card-subtitle>Тикеты пользователя</mat-card-subtitle>

        <div class="tickets-place">

          @for (item of user?.tickets; track item; let i = $index, isOdd = $odd) {
            <div class="d-flex row g-0 row-prop w-100 align-items-center"
              [ngClass]="{'row-odd': isOdd, 'row-selected': isEditMode && selectedUserTicketId == item}"
              (click)="selectUserTicket(item)">

              <div class="d-flex col-1 justify-content-center">{{i + 1}}.</div>
              <div class="d-flex col-11 justify-content-start" style="white-space: pre;">{{(ticketById$(item) | async)?.name}}</div>

            </div>
          }

        </div>

        <mat-card-actions align="end">
          <button type="button" mat-button (click)="deleteTicketFromUser()" [disabled]="!(isEditMode && selectedUserTicketId)">&lt;&lt; Удалить</button>
        </mat-card-actions>

      </mat-card>

    </div>

  </div>

  <!--Форма редактирования пользователя-->
  <div class="col-sm-12 col-md-4 p-2">

    <mat-card class="w-100 p-2">
      @if (user === null) {
        <mat-card-subtitle>Пользователь не выбран</mat-card-subtitle>
      }
      @else {
        <mat-card-subtitle>Пользователь</mat-card-subtitle>

        <form class="w-100" [formGroup]="userDataForm">

          <mat-form-field class="w-100">
            <mat-label>Username (email)</mat-label>
            <input type="email" matInput formControlName="email" placeholder="example@mail.ru">
            <mat-hint>{{(isEditMode ? 'Введите email.' : '')}}</mat-hint>

            @if (isEditMode && userDataForm.get('email')?.hasError('email') && !userDataForm.get('email')?.hasError('required')) {
              <mat-error>Неверный email.</mat-error>
            }

            @if (isEditMode && userDataForm.get('email')?.hasError('required')) {
              <mat-error><strong>Необходимо</strong> указать email.</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="w-100 mt-1">
            <mat-label>Имя</mat-label>
            <input type="text" matInput formControlName="name">
            <mat-hint>{{(isEditMode ? 'Введите имя.' : '')}}</mat-hint>

            @if (isEditMode && userDataForm.get('name')?.hasError('required')) {
              <mat-error><strong>Необходимо</strong> указать имя.</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="w-100 mt-1">
            <mat-label>Фамилия</mat-label>
            <input type="text" matInput formControlName="lastname">
            <mat-hint>{{(isEditMode ? 'Введите фамилию.' : '')}}</mat-hint>
          </mat-form-field>

          <mat-form-field class="w-100 mt-1">
            <mat-label>Дата рождения</mat-label>
            <input matInput [matDatepicker]="datepicker" formControlName="bDate" (dateChange)="user!.bDate = $event.value?.valueOf()">
            <mat-hint>{{(isEditMode ? 'Введите дату рождения.' : '')}}</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker [disabled]="!isEditMode">
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Отмена</button>
                <button mat-raised-button color="primary" matDatepickerApply>OK</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>

          <mat-form-field class="w-100 mt-1">
            <mat-label>Город</mat-label>
            <mat-select [(value)]="user!.cityId" [disabled]="!isEditMode">
              @for (item of cities; track item) {
                <mat-option [value]="item.id">{{item.name}}</mat-option>
              }
            </mat-select>
            <mat-hint>{{(isEditMode ? 'Укажите город.' : '')}}</mat-hint>
          </mat-form-field>

          @if (isEditMode) {
            <mat-form-field class="w-100 mt-1">
              <mat-label>Новый пароль</mat-label>
              <input #passwordInput [type]="isVisible ? 'text' : 'password'" matInput formControlName="password">
              <mat-hint>Введите пароль.</mat-hint>

              @if (userDataForm.get('password')?.hasError('minlength')) {
                <mat-error>Пароль <strong>минимум</strong> 4 символа.</mat-error>
              }

              @if (userDataForm.get('password')?.hasError('required')) {
                <mat-error><strong>Необходимо</strong> указать пароль.</mat-error>
              }

              <button type="button" matSuffix mat-icon-button (click)="this.isVisible = !this.isVisible">
                <mat-icon>{{(isVisible ? 'disabled_visible' : 'visibility')}}</mat-icon>
              </button>
            </mat-form-field>

          }
        </form>

        <mat-card-actions align="end">
          @if (!isEditMode) {
            <button type="button" mat-button (click)="changeMode(true)">Изменить</button>
          }
          @else {
            <button type="button" mat-button (click)="changeMode(false)">Отменить</button>
            <button type="button" mat-button (click)="saveData()" [disabled]="(!userDataForm.valid)">Сохранить</button>
          }
        </mat-card-actions>
      }

    </mat-card>

  </div>

</section>
