<form class="login-place" [formGroup]="formData" (ngSubmit)="doLogin()">

  <mat-form-field class="w-100">
    <mat-label>Username (email)</mat-label>
    <input type="email" matInput formControlName="email" placeholder="example@mail.ru">
    <mat-hint>Введите email.</mat-hint>

    @if (formData.get('email')?.hasError('email') && !formData.get('email')?.hasError('required')) {
      <mat-error>Неверный email.</mat-error>
    }

    @if (formData.get('email')?.hasError('required')) {
      <mat-error><strong>Необходимо</strong> указать email.</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="w-100 mt-4">
    <mat-label>Password</mat-label>
    <input #passwordInput [type]="isVisible ? 'text' : 'password'" matInput formControlName="password">
    <mat-hint>Введите пароль.</mat-hint>

    @if (formData.get('password')?.hasError('minlength')) {
      <mat-error>Пароль <strong>минимум</strong> 4 символа.</mat-error>
    }

    @if (formData.get('password')?.hasError('required')) {
      <mat-error><strong>Необходимо</strong> указать пароль.</mat-error>
    }

    <button type="button" matSuffix mat-icon-button (click)="this.isVisible = !this.isVisible">
      <mat-icon>{{(isVisible ? 'disabled_visible' : 'visibility')}}</mat-icon>
    </button>
  </mat-form-field>

  <div class="d-flex justify-content-end mt-4">
    <button type="submit" class="btn btn-outline-success" [disabled]="(!formData.valid)">Вход</button>
  </div>

</form>

