<div class="d-flex flex-wrap row g-0">

  <div class="col-sm-12 col-md-8">

    <div class="tickets-place">

      @for (item of (tickets$ | async); track item; let i = $index, isOdd = $odd) {
        <div class="d-flex row g-0 row-prop w-100 align-items-center"
          [ngClass]="{'row-odd': isOdd, 'row-selected': selectedItem?.id == item.id}"
          (click)="selectItem(item)">

          <div class="d-flex col-1 justify-content-center">{{i + 1}}.</div>
          <div class="d-flex col-3 justify-content-start">{{item.cDate | date : 'dd-MM-YYYY HH:mm'}}</div>
          <div class="d-flex col-5 justify-content-start" style="white-space: pre;">{{item.name}}</div>

        </div>
      }

    </div>

  </div>

  <div class="col-sm-12 col-md-4 p-2">

    <mat-card class="col-4 p-2 w-100">
      <mat-card-subtitle>Тикет</mat-card-subtitle>

      <form [formGroup]="dataForm">

        <mat-form-field class="w-100">
          <mat-label>Текст</mat-label>
          <textarea rows="2" matInput formControlName="name"></textarea>
          <mat-hint>{{(isEditMode ? 'Введите текст тикета.' : '')}}</mat-hint>

          @if (isEditMode && dataForm.get('name')?.hasError('minlength')) {
            <mat-error>Текст <strong>минимум</strong> 3 символа.</mat-error>
          }

          @if (isEditMode && dataForm.get('name')?.hasError('required')) {
            <mat-error><strong>Необходимо</strong> указать текст.</mat-error>
          }

        </mat-form-field>

      </form>

      <mat-card-actions align="end">
        @if (!isEditMode) {
          <button type="button" mat-button (click)="deleteItem()" [disabled]="((selectedItem?.id ?? 0) == 0)">Удалить</button>
          <button type="button" mat-button (click)="changeMode(true)" [disabled]="((selectedItem?.id ?? 0) == 0)">Изменить</button>
        }
        @else {
          <button type="button" mat-button (click)="changeMode(false)">Отменить</button>
          <button type="button" mat-button (click)="saveItem()" [disabled]="(!dataForm.valid)">Сохранить</button>
        }
      </mat-card-actions>
    </mat-card>

    <div class="d-flex row g-0 justify-content-end px-2 mt-2">
      <button type="button" mat-button style="width: 100px;"
        (click)="addItem()" [disabled]="isEditMode">Добавить</button>
    </div>
  </div>

</div>
