<div class="tickets-place">

  @for (item of (tickets$ | async); track item; let i = $index, isOdd = $odd) {
    <div class="d-flex row g-0 row-prop w-100 align-items-center" [ngClass]="{'row-odd': isOdd}"
      (click)="goToTicket(item.id)">
      <div class="d-flex col-1 justify-content-center">{{item.id}}.</div>
      <div class="d-flex col-2 justify-content-start">{{item.cDate | date : 'dd-MM-YYYY HH:mm'}}</div>
      <div class="d-flex col-9 justify-content-start" style="white-space: pre;">{{item.name}}</div>
    </div>
  }

</div>
