<p>Навигация:</p>

<ul>
  <li><a routerLink='/{{segmentEnum.Tickets}}'>{{segmentNameEnum.Tickets}}</a></li>

  @if ((isAdmin$ | async)) {
    <li><a routerLink='/{{segmentEnum.Dashboard}}'>{{segmentNameEnum.Dashboard}}</a></li>
  }
</ul>
