.row-prop {
  cursor: pointer;
  height: 40px;
  background-color: #efefec;

  &:hover {
    background-color: #b3c5d7;
  }
}

.row-odd {
  background-color: #d5e7da;
}

.row-selected {
  background-color: #e3e98b;
}

.cities-place {
  height: 200px;
  overflow: auto;
}
