<div class="d-flex flex-wrap row g-0">

  <div class="col-sm-12 col-md-8">

    <div class="cities-place">

      @for (item of (clities$ | async); track item; let i = $index, isOdd = $odd) {
        <div class="d-flex col-9 row-prop w-100 justify-content-start align-items-center px-2"
          [ngClass]="{'row-odd': isOdd, 'row-selected': selectedItem?.id == item.id}" (click)="selectItem(item)">{{i + 1}}. {{item.name}}</div>
      }

    </div>

  </div>

  <div class="col-sm-12 col-md-4 p-2">

    <mat-card class="col-4 p-2 w-100">
      <mat-card-subtitle>Город</mat-card-subtitle>

      <form [formGroup]="dataForm">

        <mat-form-field class="w-100">
          <mat-label>Наименование</mat-label>
          <input type="text" matInput formControlName="name">
          <mat-hint>{{(isEditMode ? 'Введите наименование.' : '')}}</mat-hint>

          @if (isEditMode && dataForm.get('name')?.hasError('minlength')) {
            <mat-error>Наименование <strong>минимум</strong> 3 символа.</mat-error>
          }

          @if (isEditMode && dataForm.get('name')?.hasError('required')) {
            <mat-error><strong>Необходимо</strong> указать наименование.</mat-error>
          }

        </mat-form-field>

      </form>

      <mat-card-actions align="end">
        @if (!isEditMode) {
          <button type="button" mat-button (click)="deleteItem()" [disabled]="((selectedItem?.id ?? 0) == 0)">Удалить</button>
          <button type="button" mat-button (click)="changeMode(true)" [disabled]="((selectedItem?.id ?? 0) == 0)">Изменить</button>
        }
        @else {
          <button type="button" mat-button (click)="changeMode(false)">Отменить</button>
          <button type="button" mat-button (click)="saveItem()" [disabled]="(!dataForm.valid)">Сохранить</button>
        }
      </mat-card-actions>
    </mat-card>

    <div class="d-flex row g-0 justify-content-end px-2 mt-2">
      <button type="button" mat-button style="width: 100px;"
        (click)="addItem()" [disabled]="isEditMode">Добавить</button>
    </div>
  </div>

</div>
