<p>Навигация:</p>

<div>
  <a routerLink="/dashboard/cities">Города</a>
</div>
<div>
  <a routerLink="/dashboard/tickets">Тикеты</a>
</div>
<div>
  <a routerLink="/dashboard/users">Пользователи</a>
</div>
